.msg-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

@media (min-width: 768px) {
  .msg-box {
    flex-direction: row;
    justify-content: space-between;
  }
}
